:root {
    --nero: #000000;
    --grigio: #777777;
    --ceruleo: #007BA7;
}

*{
    padding: 0;
    margin: 0;
}

main{
    max-width: 800px;   
    width: 100%;        
    margin: 0 auto;     
    text-align: left;
    margin-bottom: 120px;
}

.header{
    text-align: left;
    margin-top: 120px;
}

.header h1{
    font-size: 60px;
    color: var(--nero);
}

.header h3{
    font-size: 20px;
    color: var(--grigio);
}

.header img{
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 25px;
    display: block;
    margin-top: 10px;
}

.contenuto{
    margin-top: 30px;
    line-height: 1.3;
    color: var(--nero);
}

.contenuto h2{
    margin-top: 20px;
    font-size: 25px;
    color: var(--ceruleo);
}

.contenuto p{
    font-size: 18px;
    text-align: left;
}

.next{
    margin-top: 15px;
}

ol, ul{
    margin-left: 20px;
    margin-top: 10px;
}

li{
    font-size: 18px;
    margin-top: 10px;
}

.contenuto img{
    border-radius: 25px;
    width: 95%;
    height: auto;
    margin-top: 10px;

    justify-content: center;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contenuto h3{
    margin-top: 15px;
    font-size: 20px;
    color: var(--ceruleo);
}

@media (max-width: 768px) {

    main{
        padding: 20px;
    }

    .header{
        margin-top: 80px;
    }
    .header h1{
        font-size: 32px;
    }

    .header h3{
        font-size: 12px;
    }

    .contenuto h2{
        font-size: 20px;
    }

    .contenuto h3{
        font-size: 18px;
    }

    .contenuto p{
        font-size: 15px;
    }

    li{
        font-size: 15px;
        margin-top: 10px;
    }

}